html, body {height: 100%}

body.sami {
  min-height: 1000px;
}

div.import-dropzone {
  background: #eee;
  border: 2px dashed #CCC;
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
  width: 100%;
}

div.import-dropzone div {
  padding: 20px;
  text-align: center;
}

button.complete-archive-import {
  margin-bottom: 20px;
}

.archive-display {
  margin-top: 20px;
}

.content .rw-popup-container.rw-calendar-popup {
  width: 100%;
}

.content .rw-popup-container {
  overflow: auto;
}

.content table.rw-calendar-grid td {
  padding: 0;
}

.content .rw-input {
  padding: 20px 10px;
}

.container {
  height: 100%;
}

ul.trial-participant-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

ul.trial-participant-list ul {
  list-style-type: none;
}

.trial-dates {
  margin-top: 20px;
}

.trial-dates div {
  margin-bottom: 20px;
}

.import-trial {
  height:100vh;
}

.import-trial .progress {
  margin-top: 20px;
}

.main.content {
  overflow: auto;
}

.content .tabs-navigation {
  border-bottom: 1px solid #A9A9A9;
}

.content ol.tabs-menu, .content ul.tabs-menu {
  margin-bottom: 0;
  padding-left: 0;
}

.content .tab-panel {
  padding: 0;
}

.main .tabs-menu-item a:hover {
  border-bottom: none;
}

h1.metadata-heading {
  margin-top: 20px;
}

.manage-archive .progress {
  margin-top: 20px;
}

.archive-detail-content {
  min-height: 400px;
}

.archive-manage a {
  cursor: pointer;
  display: inline;
}

.manage-archive h1 {
  margin-bottom: 0;
}

.archive-manage h2 {
  margin-top: 20px;
  padding-top: 0;
}

.archive-list h1 {
  margin-bottom: 30px;
}

a.archive-link {
  display: inline;
}

.content .rd3-linechart-xaxis .tick {
  display: none;
}

.archive-charts .chart-select {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.archive-charts h2 {
  margin-bottom: 10px;
}

.archive-charts h2,
.archive-details h2 {
  padding-top: 0;
}

.react-tabs li {
  line-height: normal;
  margin: 0;
}

div.metadata-tags div {
  border: 1px solid #000000;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

ul.pagination {
  display: inline-block;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  padding: 0 10px 0 0;
}

.pagination li.selected {
  font-weight: bold;
  text-decoration: underline;
}

.pagination .break a {
  cursor: default;
}

form.search-form h2 {
  padding: 0 0 20px 0;
}

form.search-form h2.search-heading a {
  cursor: pointer;
}

form.search-form select {
  margin-right: 10px;
  margin-bottom: 10px;
}

form.search-form button {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  border: none;
  color: #fff;
  display: inline;
  text-decoration: none;
  border-bottom: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #00A9E0;
  font-weight: 300;
  margin-left: 10px;
}

form.search-form button.submit {
  margin-top: 10px;
  margin-left: 0;
}

form.search-form .range {
  display: inline;
}

form.search-form .range input {
  width: 50px;
}

form.search-form input.search-query {
  margin-bottom: 10px;
}

.main-nav .offsite-nav-list.login {
  background: none;
  padding-right: 4px;
}

div.import-form textarea {
  height: 200px;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 10px;
}

div.search-form label span,
div.metadata-form label span {
  display: inline-block;
  width: 70px;
}

button.submit {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  border: none;
  color: #fff;
  display: block;
  padding: 10px 50px;
  text-decoration: none;
  border-bottom: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #00A9E0;
  font-weight: 300;
}

a.login-btn {
  font-size: 24px;
  margin-top: 20px;
  padding: 15px 50px;
  width: auto;
}

ul.section-nav-list {
  cursor: all-scroll;
  height: 200px;
  overflow: auto;
}

@media only screen and (min-height: 600px) {
  ul.section-nav-list {
    height: 350px;
  }
}

@media only screen and (min-height: 800px) {
  ul.section-nav-list {
    height: 400px;
  }
}

li.section-nav-item small {
  display: block;
}

.content img.progress {
  width: auto;
}

.message {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  margin-bottom: 30px;
  border-radius: 3px;
  padding: 8px 20px 8px 8px;
  background-color: rgb(60, 60, 60);
  background-color: rgba(60, 60, 60, 0.9);
}

.message p {
  margin: 5px;
}

.message-error,
.message-loggedout {
  color: rgb(185, 74, 72);
  background-color: rgb(242, 222, 222);;
  background-color: rgba(242, 222, 222, 0.9);
}

.message-info,
.message-success,
.message-imported {
  color: rgb(70, 136, 71);
  background-color: rgb(223, 240, 216);
  background-color: rgba(223, 240, 216, 0.9);
}

.message-close {
  display: none;
}

.message .message-close {
  background: url('/images/layout/close.png') no-repeat;
  display: inline;
  float: right;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.message-hide {
  display: none;
}

.tip {
  cursor: help;
}

.tipMsg {
  background-color: rgb(223, 240, 216);
  color: rgb(70, 136, 71);
  padding: 10px;
}

.metadata-table {
  margin-top: 20px;
}

.react-autosuggest {
  display: inline;
}

ul.react-autosuggest__suggestions {
  padding: 0;
}

.react-autosuggest__suggestions {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-section:first-child .react-autosuggest__suggestions-section-name {
  border-top: 0;
}
.react-autosuggest__suggestions-section-name {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  border-top: 1px dashed #ccc;
}
.react-autosuggest__suggestions-section-suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 0;
}
.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}


@media only screen and (min-width: 761px) {
  div.nav-list-container {
    width: 200px;
  }
}

@media only screen and (min-width: 1025px) {
  div.nav-list-container {
    width: auto;
  }
}

@media only screen and (max-width: 760px) {
  a.login-btn {
    text-align: center;
    width: 100%;
  }
  .archive-charts h2 {
    font-size: 120%;
    padding-top: 30px;
  }
}

/**
* temporary styles whilst we have just one item on the landing page
*/
body.index .welcome-section li {
  border: none;
}
@media only screen and (min-width: 761px) {
  body.index .welcome-section li {
    border: none;
  }
}
